body{
    background-color: #9C835F;
}

.header-section{
    position: relative;
    vertical-align: middle;
    margin-left: -10vh;
}

.back-img{
    height: 7vh;
    width: auto;
}

.logo-img{
    height: 11vh;
    width: auto;
} 

/* .header{
    margin-left: -1%;
} */

.btn-custom{
    /* max-width: 5rem; */
    height: auto;
    margin: 1rem;
    padding: 15px;
    cursor: pointer;
    transition: 100ms;
    /* align-items: center; */
}

.btn-custom:hover{
    transform: scale(1.2) rotate(15deg);
    border-radius: 1rem;
    /* background-color: #C4C4C4; */
}

.custom-img{
    height: auto;
    margin: 3.4rem;
    padding: 15px;
    cursor: pointer;
    border-radius: 10rem;
    transition: 100ms;  
}

/* .custom-img:hover{
    transform: scale(1.0);
    background-color: #C4C4C4;
    border-radius: 5rem;  
} */

.active{
    background-color: #C4C4C4;
    border-radius: 1000rem;
}

.text-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 5vh;
    margin-top: 2rem;
    /* line-height: 49px; */
    text-transform: uppercase;

    color: #F9B23D;
}

.game-section{
    position: relative;
    margin-top: 1.5rem;
}

.player{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 2.5vw;
}

.versus{
    position: relative;
    color: #BD0000;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18vh;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.bg-result{
    /* position: relative; */
    /* color: white;
    font-size: 1vw; */
    height: 10vw;
    width: 15vw;
    transform: rotate(-28.87deg);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    background-color: #4C9654;
    z-index: -1;
    margin-top: 30vh;
}

.draw{
    /* position: relative;
    color: white;
    font-size: 1vw; */
    height: 10vw;
    width: 15vw;
    transform: rotate(-28.87deg);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    background-color: #035B0C;
    z-index: -1;
}

/* .draw{
    display: none;
} */